# Node modules
node_modules/

# Environment variables file
.env

# Logs
*.log

# OS-specific files
.DS_Store   # macOS
Thumbs.db   # Windows

# IDEs and editor folders
.vscode/     # Visual Studio Code
.idea/       # JetBrains IDEs

# npm package lock
package-lock.json
